<ul class="social">
    <li class="social__link">
        <a href="{{ networkSettings.facebookPage }}" target="_blank" rel="noopener" title="Facebook">
            <svg class="gly">
                <use xlink:href="/dist/img/glyphs.svg#facebook"/>
            </svg>
        </a>
    </li>

    <li class="social__link">
        <a href="{{ networkSettings.linkedinPage }}" target="_blank" rel="noopener" title="LinkedIn">
            <svg class="gly">
                <use xlink:href="/dist/img/glyphs.svg#linkedin"/>
            </svg>
        </a>
    </li>

    <li class="social__link">
        <a href="{{ networkSettings.twitterProfile }}" target="_blank" rel="noopener" title="Twitter">
            <svg class="gly">
                <use xlink:href="/dist/img/glyphs.svg#twitter"/>
            </svg>
        </a>
    </li>

    <li class="social__link">
        <a href="{{ networkSettings.instagramProfile }}" target="_blank" rel="noopener" title="Instagram">
            <svg class="gly">
                <use xlink:href="/dist/img/glyphs.svg#instagram"/>
            </svg>
        </a>
    </li>

    <li class="social__link">
        <a href="{{ networkSettings.youtubeChannel }}" target="_blank" rel="noopener" title="YouTube">
            <svg class="gly">
                <use xlink:href="/dist/img/glyphs.svg#youtube"/>
            </svg>
        </a>
    </li>
</ul>